/* Background Colours */
body {background-color:rgb(213,129,29)}
header{background-color:rgb(103,63,48)}
h1{background-color:rgb(103,63,48)}
nav {background-color:yellow}

/* Text Properties */
h1 {color:white}
body{color: white}

/* Element Sizes */
header {height:60px}
nav {height:60px}

/* Positioning */
nav {clear:both}

/* Navigation List Properties */
nav ul {list-style-type:none}
nav display: inline;
nav ul li {float:left;width:80px;text-align:center}
nav ul li a {display:block;padding:8px;color:white}
nav ul li a:hover {background-color:rgb(213,129,29);color:White}

/* Margins */
body {margin:auto}
h1 {margin-left:30px;margin-top:50px}
nav{ margin-top : 20px ; margin-bottom : 20px}
